*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.point
{
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.point:hover .text
{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.point.visible .label
{
    transform: scale(1,1);
}
.point .label
{
    position: absolute;
    width: 40px;
    height: 40px; 
    top: -20px;
    left: -20px;
    border-radius: 50%;
    background: #00000077 ;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 14px;
   cursor: help;
   transform: scale(0.001,0.0001);
   transition: transform 0.3s;
   
}

.point .text
{
   position: absolute;
   color: #ffffff;
   top: 30px;
   left: -100px;
   width: 200px;
   padding: 10px;
   text-align: center;
   background-color: #00000077;
   line-height: 1.3em;
   font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight:lighter;
   font-size: 14px;
   opacity: 0;
   transition: opacity 0.4s ;
   pointer-events: none;
}
