*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
